@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    /* --main_font: 'Comfortaa', cursive; */
    --main_font: 'Quicksand', cursive;
    --dark_green: #47a358;
    --light_grey: rgb(242, 242, 242);
    --light_grey_darker: rgb(225, 225, 225);
    --green_glow: #5ac268;
}

html {
    font-family: var(--main_font);
    font-size: 1rem;
    font-weight: 500;
}


/* ------------------------------------------------------------ */


.main_content {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}


.cardFlex {
    margin: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin: 1rem 0;
    padding: 1rem;
    padding: 3rem 1rem;
    max-width: 15rem;
    min-width: 15rem;
    border-radius: 15px;
    border: 1.6px solid var(--light_grey);
    transition: all 0.15s;
}

.itemCard:hover {
    box-shadow: 0px 0px 15px 2px var(--light_grey);
    transform: scale(1.03);
}

.itemCardClicked {
    transform: scaleX(1.5) scaleY(1.2);
}

.itemCard>img {
    /* object-fit: cover; */
    width: 10rem;
    height: 10rem;
}

.itemName {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 20px;
    text-align: center;
    transition: all 0.15s;
}

/* .itemName:hover {
    box-shadow: 0px 0px 15px 2px var(--light_grey);
    border-radius: 10px;
    transform: scale(1.03);
} */

.cardRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}


.cardRating>p {
    margin: 0 5px;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
}


.itemPrice {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px;
}

.cardButton {
    margin: 15px 15px;
    padding: 0 20px;
    background: none;
    color: black;
    border: 1px var(--light_grey_darker) solid;
}

.cardButton:hover {
    background-color: var(--dark_green);
    color: white;
    opacity: 100%;
}



/* ------------------------------------------------------------ */


button {
    background-color: var(--dark_green);
    font-family: var(--main_font);
    font-size: 1rem;
    color: white;
    padding: 10px 10px;
    width: 70%;
    border: none;
    border-radius: 1rem;
    transition: all 0.15s;
}

button:hover {
    background-color: var(--green_glow);
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #b3e6bb;
}

.textInput {
    margin: 15px 15px;
    padding: 0 20px;
    background: none;
    color: black;
    border: 1px var(--light_grey) solid;
    transition: all 0.15s;
}

.textInput:hover {
    background-color: var(--light_grey);
    color: black;
    opacity: 100%;
    box-shadow: inset 3px 2px 2px #dfdfdf;
}

/* ------------------------------------------------------------ */

.searchbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.searchbar>input {
    /* position: relative; */
    padding: 15px;
    padding-left: 50px;
    width: 95%;
}

.searchbar>*:not(input) {
    position: absolute;
    margin-left: 25px;
    opacity: 60%;
    transition: all 0.15s;
}


/* ------------------------------------------------------------ */


.navbarDiv {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;

}

.navbarBorder {
    border-left: none;
    border-top: none;
    border: solid 1.6px var(--light_grey);
}



.navbarRight {
    display: flex;
    justify-content: space-around;
    max-width: 240px;
}

.navbarRight>* {
    padding: 6px 6px;
    color: var(--dark_green);
    border-radius: 50%;
    transition: all 0.15s;
}

.navbarRight>*:hover {
    /* color: darkgreen; */
    /* filter: drop-shadow(0 0 0.1rem lightgreen); */
    cursor: pointer;
    color: white;
    background-color: var(--green_glow);
}



.navbarCenter {
    display: flex;
    font-size: 1rem;
}

.navbarCenter>* {
    padding: 0 1rem;
}


.navbarRight>* {
    padding: 0 0.5rem;
}

.navbarLeft {
    display: flex;
}

.logo {
    color: var(--dark_green);
    transition: all 0.2s;
}

.hue-shift {
    animation: hue-shift 5s infinite alternate;
}

@keyframes hue-shift {
    from {
        filter: hue-rotate(0)
    }

    to {
        filter: hue-rotate(360deg)
    }
}

/* ------------------------------------------------------------ */


.detailsbarDiv {
    display: flex;
    padding: 20px 30px;
}

.detailsbarBorder {
    border-left: none;
    border-top: none;
    border: solid 1.6px var(--light_grey);
}

.detailsbarHidden {
    display: none;
}

/* ------------------------------------------------------------ */
.sidebarDiv {
    padding: 3px 20px 5px 15px;
    margin: 0%;
}

.sidebarCenterDiv {
    padding: 0px 0px 0px 0px;
    margin: 0%;
}

.sidebarHidden {
    display: none;
}

.sidebarRating {
    margin-right: 20px;
    margin-bottom: 20px;
}

.normalDiv {
    margin: 0%;
    padding: 0%;
    transition: all 0.2ms;
}

.sidebarDiv>h1 {
    margin: 20px 20px;
    margin-top: 20px;
    /* padding: 5%; */
    font-size: 1.1rem;
}

.sidebarBorder {
    border: solid 1.6px var(--light_grey);
    border-top: none;
}

hr {
    border-top: solid 1.6px var(--light_grey);
    border-bottom: none;
    size: 1rem;
    /* color: var(--light_grey); */
}

.centerDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* padding: 20;  */
    margin-bottom: 15px;
}

.fixed {
    position: fixed;
}

/* ------------------------------------------------------------ */

/* W3 input css */

.w3-input {
    padding: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50px;
    margin: 0px 10px;
    font-family: var(--main_font);
    font-size: 0.9rem;
}

.w3-border {
    border: 1px solid #ccc !important
}

.w3-round-large {
    border-radius: 1rem;
}

.rowPadding {
    padding-left: 20px;
    padding-right: 20px;
}

.rowMargin {
    margin: 0px 2%;
}

.columnMargin {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* ------------------------------------------------------------ */

.btn-selected {
    background-color: var(--green_glow);
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #b3e6bb;
}

.btn-not-selected {
    padding: 0 20px;
    margin: 15px 15px;
    color: black;
    border: 1px var(--light_grey_darker) solid;
    background: none;
    font-family: var(--main_font);
    font-size: 1rem;
    width: 70%;
    transition: all 0.15s;
    padding: 10px 10px;
}


/* ------------------------------------------------------------ */


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    width: max-content;
    padding-left: 35px;
    /* padding-top: auto; */
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--main_font);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    border-radius: 20%;
    border: lightgray 1.6px solid;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: none;
    transition: all 0.15s;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.container input:checked~.checkmark {
    background-color: var(--green_glow);
    border: var(--green_glow) 1.6px solid;
    box-shadow: 0px 0px 15px 0px #b3e6bb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

@media only screen and (max-width: 816px) {
    .normalDiv {
        display: none;
    }
}