@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --main_font:'Comfortaa', cursive;
    --dark_green: #47a358;
    --light_grey: lightgrey;
}

html {
    font-family: var(--main_font);
}

.main_content {
    display: flex;
    flex-direction: row;
}

.itemCard {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    pad: 2rem;
    max-width: 20rem;

}

.itemCard>img {
    width: 15rem;
}

.cardRating {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 1.2rem;
}

.normalDiv {
    margin: 15px 20px;
}

.normalDiv>h1 {
    margin: 20px 10px;
    margin-top: 10px;
    padding: 5%;
}

.normalBorder {
    border-color: var(--light_grey);
    border-width: 1.6px;
}

button {
    background-color: var(--dark_green) ;
    font-family: var(--main_font);
    font-size: 1rem;
    color: white;
    padding: 15px 10px;
    width: 70%;
    border: none;
    border-radius: 15px;
}
 
button:hover {
    opacity: 75%;
    cursor: pointer;
    /* box-shadow: 2px 3px 30px 1px #bdcabf; */
}






/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--main_font);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    border-radius: 20%;
    border: lightgray 1.6px solid;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: none;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.container input:checked~.checkmark {
    background-color: var(--dark_green);
    border:var(--dark_green) 1.6px solid;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}